# Google Analytics 4 Measurement ID
NEXT_PUBLIC_GA_ID=G-XXXXXXXXXX

# Base URL do seu site (sem barra final)
NEXT_PUBLIC_BASE_URL=https://seudominio.com

# Ambiente da aplicação: development | production | test 
NODE_ENV=development
